:root {
  /* colors */
  --grafit: #232428;
  /* sizes */
  --card-width: 378px;
  --card-height: 500px;
}

/* #region reset */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: normal;
  font-display: swap;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: Montserrat;
  background: rgba(0, 0, 0, 0.64);
}

/* #endregion */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background: url(../img/bg2.jpg);
  background-size: cover;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

._container {
  max-width: 1046px;
  margin: 0 auto;
}

.blog {
  max-width: 1200px;
  width: 1200px;
  margin: 20px 5%;
}

/* #region =======HERO POST Desktop======= */

.blog__hero {
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  width: 100%;
  max-width: 1200px;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.4);
}

.hero__category a {
  color: #22b893;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #22b893;
  padding: 3px;
  border-radius: 2px;
}

.hero__category:hover a {
  font-weight: 600;
}

.hero__category {
  padding-bottom: 8px;
  padding-top: 160px;
}

.hero__title {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  max-width: 573px;
  padding-bottom: 11px;
}

.hero__subtitle {
  color: #c0c4d0;
  font-size: 14px;
  font-weight: 500;
  max-width: 457px;
  line-height: 160%;
  padding-bottom: 50px;
}

.hero__btn {
  color: #c0c4d0;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 5px;
  border: 2px solid var(--txt-gray-light, #828a9e);
  padding: 15px 30px;
  background: none;
  margin-bottom: 44px;
  cursor: pointer;
}

.hero__btn:hover,
.hero__btn:focus {
  color: white;
  border-color: white;
  transition: 0.5s;
}

.meta-txt,
.meta-txt > a {
  color: #c0c4d0;
  font-size: 12px;
  font-weight: 600;
}

.a-hover:hover,
.a-hover:focus {
  color: white;
}

.calendar,
.views {
  display: flex;
  align-items: center;
  gap: 9px;
}

.hero__meta {
  display: flex;
  gap: 30px;
  padding-bottom: 100px;
}

/* #endregion */

/* #region =======HERO POST Mobile 480======= */

@media (max-width: 480px) {
  .blog__hero-shadow {
    background: linear-gradient(1deg, #131313 10%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    width: 125%;
    max-width: 1200px;
    height: auto;
    padding: 10%;
    flex-direction: column;
    justify-content: center;

    align-items: center;
  }

  .blog__hero {
    display: flex;
    background: url(../img/hero-bg_mob.jpg);
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    align-items: center;
    background-size: cover;
    margin: 0 auto;
  }

  .blog {
    margin: 0;
    background: #151515;
  }

  .hero__btn {
    width: 80%;
  }

  .hero__title {
    padding-bottom: 40px;
    padding-top: 280px;
    text-align: center;
    padding: 280px 10% 40px 10%;
  }

  .hero__subtitle {
    display: none;
  }

  .hero__category {
    display: none;
  }
}

/* #endregion */

/* #region =======HERO POST Tablet 795======= */

@media (max-width: 795px) {
  .blog__hero-shadow {
    background: linear-gradient(1deg, #131313 10%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    width: 125%;
    max-width: 1200px;
    height: auto;
    padding: 10%;
    flex-direction: column;
    justify-content: center;

    align-items: center;
  }

  .blog__hero {
    display: flex;
    background: url(../img/hero-bg_mob.jpg);
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    align-items: center;
    background-size: cover;
    margin: 0 auto;
  }

  .blog {
    margin: 0;
    background: #151515;
  }

  .hero__btn {
    width: 80%;
  }

  .hero__title {
    padding-bottom: 40px;
    padding-top: 0;
    text-align: center;
    padding: 100px 10% 40px 10%;
  }

  .hero__subtitle {
    text-align: center;
    font-size: 14px;
    padding: 0 10px;
    padding-bottom: 44px;
  }

  .hero__category {
    display: none;
  }
}

/* #endregion */

/* #region  =======BLOG CARDS MAIN======= */

.blog__cards {
  display: flex;
  margin-top: 30px;
}

.cards-item {
  width: var(--card-width);
  height: var(--card-height);
  background: #828a9e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.609);
}

.blog__cards-river {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* #endregion */

/* #region =======SIDEBAR======= */

.sidebar {
  display: flex;
  gap: 30px;
  width: 380px;
  flex-direction: column;
  position: sticky;
}

/* #endregion */

/* #region ========SUBSCRIBE CARD======= */

.subscribe-card {
  height: 190px;
  background-color: var(--grafit);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-card-title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 10px;
}

.subscribe-card-hr {
  width: 50px;
  height: 2px;
  background: #4e505f;
  margin-bottom: 20px;
}

.subscribe-icons {
  display: flex;
  gap: 12px;
}

.subscribe-icons-img:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.609);
}

.cards-item4 {
  height: 394px;
  background-color: #616161;
}

.cards-item5 {
  height: 386px;
}

.cards-link {
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: 0.3s;
}

.cards-link:hover {
  border-color: orange;
}

/* #endregion */
